@import "src/theme/core";
.wrapper {
  align-items: stretch;
  display: flex;
  width: 100%;
  overflow-x: hidden;
}

.sidebar {
  background-color: #293042;
  max-width: 260px;
  min-width: 260px;
  transition: margin-left .35s ease-in-out,left .35s ease-in-out,margin-right .35s ease-in-out,right .35s ease-in-out;

  &.closed {
    margin-left: -260px;
  }

  @include media-breakpoint-down(md) {
    margin-left: -260px;

    &.closed {
      margin-left: 0;
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  transition: margin-left .35s ease-in-out,left .35s ease-in-out,margin-right .35s ease-in-out,right .35s ease-in-out;
  width: 100%;
}

.content {
  max-width: 100vw;
  width: 100vw;

  @include media-breakpoint-up(md) {
    max-width: 100%;
    width: 100%;
  }
}
