<div class="sidebar-content">
  <div class="text-center py-3">
    <a href="/">
      <img src="assets/logo.png" alt="Ejara Logo" width="100" height="100" class="img-fluid rounded-circle">
    </a>
  </div>
  <nav class="nav flex-column">
    <a routerLink="/dashboard" routerLinkActive="active" class="nav-link"><i class="bi-grid-fill me-3 d-inline-block"></i> Dashboard</a>
    <a routerLink="/transactions" routerLinkActive="active" class="nav-link"><i class="bi-currency-exchange me-3 d-inline-block"></i> Transactions</a>
  </nav>
</div>
